.summer-action {
  .ms-login {

    &__form {
      width: 385px;
      margin: 35px auto 55px;
    }

    &__forgot-pw {
      @extend %float-right;
      color: $ms-forgot-password-color;
      font-size: 16px;
      margin-bottom: 35px;
    }

    &__btn {

      .btn {
        width: 100%;
      }
    }

    &__reg {
      &-title {
        font-size: 18px;
        margin-bottom: 35px;
      }

      &-link {
        @extend %font-bold, %font-italic;
        font-size: 18px
      }
    }
  }
}
