.summer-action {
  .fridge--opened {
    &.fridge {
      @include background-image(url('../images/fridge-opened-background.jpg'));
    }

    .fridge {
      &-wrapper {
        width: 905px;
      }

      &-opened {
        @extend %overflow-hidden;
      }

      &__ms-logo {
        margin-top: em($base-font-size, 40);
      }
    }

    .headline {
      &-wrapper {
        top: 90px;
      }
    }
  }
}
