a.btn {
  @extend %inline-block, %font-bold, %font-italic, %text-center;
  width: auto;
  background-color: $ms-button-bg-color;
  color: #fff;
  font-size: 18px;
  vertical-align: middle;
  padding: 10px 15px;
  @include border-radius(5px);
}
