.summer-action {

  // style for fridge
  .fridge {
    @extend %overflow-hidden;
    width: 100%;
    @include background-image(url('../images/background.png'));
    background-size: cover;
    background-repeat: no-repeat;

    &-wrapper {
      @extend %overflow-hidden;
      padding-top: em($base-font-size, 30);
    }

    &-closed {

      @include background-image(url('../images/fridge-closed.png'));
      background-repeat: no-repeat;
      background-size: em($base-font-size, 703, 1128);

      width: 100%;
      height: 100%;

      &-wrapper {
        @extend %float-left, %relative;
        width: 60%;
        @include img-size($base-font-size, 703, 1182);
      }
    }

    &-opened {
      @include background-image(url('../images/fridge-opened.png'));
      background-repeat: no-repeat;
      background-size: em($base-font-size, 905, 1137);

      width: 100%;
      height: 100%;

      &-wrapper {
        @extend %float-left, %relative;
        width: 60%;
        @include img-size($base-font-size, 905, 1137);
      }

      &__content {
        width: em($base-font-size, 812);
        margin-left: em($base-font-size, 85);
      }
    }

    &__ms-logo {
      @include img-size($base-font-size, 165, 83);
      margin-top: em($base-font-size, 50);
    }

    &__countdown {
      margin-top: em($base-font-size, 5);

      &__table {
        @include img-size($base-font-size, 494, 344);
      }
    }

    &__pull {
      margin-top: em($base-font-size, -20);

      &__button {
        @extend %float-right;
        @include img-size($base-font-size, 602, 172);
        margin-right: em($base-font-size, -85);
      }
    }

    // fridge stage 1 start----------------------------------
    &__stage-1 {
      &-wrapper {
        margin-top: em($base-font-size, 60);
      }
    }

    &__daily-price {

      &-wrapper {
        @extend %float-left;
        width: em($base-font-size, 450);
      }

      &-logo {
        padding: em($base-font-size, 85, 0, 0, 90);
        @include img-size($base-font-size, 354, 110);
      }
    }

    &__question-btn {
      @extend %float-right;
      width: em($base-font-size, 360);
      padding-top: em($base-font-size, 50);
    }

    &__award-phone {
      @include img-size($base-font-size, 243, 294);
      margin-left: em($base-font-size, -90);
    }
    // fridge stage 1 end-----------------------------------

    &__award-group {
      @include img-size($base-font-size, 624, 321);

      &-wrapper {
        margin-top: em($base-font-size, 33);
      }
    }

  }

  // style for logo, desc, product in right side
  .headline {
    &-wrapper {
      @extend %absolute;
      top: 0;
      right: 0;
      width: 40%;
      margin-top: 35px;
    }

    &-logo {

    }

    &-slogan {
      @extend %text-center;
      color: #00acef;
      font-size: 24px;
      margin-top: -20px;

      &--part {
        margin: 0 0 5px 0;
      }
    }

    &-product {
      margin-top: 40px;
      margin-left: 150px;
    }
  }
}
