footer
  .container
    .row
      .span12
        ul.nav
          li
            a.popup(href='/impressum/', target='_blank') Impressum
          li
            a.popup(href='/datenschutz/', target='_blank') Datenschutz
          li
            a.popup(href='/faq/', target='_blank') FAQ
          li.last
            a(href='http://www.ferrero.de', target='_blank') Ferrero
