header
  .container
    .row
      .span12
        .container.container--logo
          h1.logo
            a(href='/', title='Milch-Schnitte') Milch-Schnitte
          img.kinder_signatur(src='/images/kinder_signatur.png', title='Kinder')
        #nav
          ul
            li.first.product.active
              a(href='/die-milch-schnitte/') Milch-Schnitte
              ul.sub-menu
                li
                  a(href='/die-milch-schnitte/') Die Milch-Schnitte
                li
                  a(href='/die-milch-schnitte/backen-mit-milch-schnitte/') Backen mit Milch-Schnitte
                li
                  a(href='/tv-spots/') TV-Spot
                li
                  a(href='/die-milch-schnitte/meine-pause/galerie/') Meine Pause
            li.family-life
              a(href='/mein-familienalltag/') Familienalltag
              ul.sub-menu
                li.tablet-only
                  a(href='/mein-familienalltag/') Übersicht
                li
                  a(href='/mein-familienalltag/bastelspass/') Bastelspass
                li
                  a(href='/mein-familienalltag/spielefinder/') Spielefinder
                li
                  a(href='/mein-familienalltag/inselfinder/') Inselfinder
                li
                  a(href='/mein-familienalltag/inseltipps/') Inseltipps
            li.study
              a(href='/alltagsstudie/alltag-in-deutschland/') Alltagsstudie
              ul.sub-menu
                li
                  a(href='/alltagsstudie/alltag-in-deutschland/') Alltag in Deutschland
                li
                  a(href='/alltagsstudie/alltagsstrategien/') Alltagsstrategien
                li
                  a(href='/alltagsstudie/alltagsmanagertypen/') Alltagsmanagertypen
                li
                  a(href='/alltagsstudie/alltagstipps/') Alltagstipps
                li
                  a(href='/alltagsstudie/service/') Service
            li.last.survey
              a(href='/alltagstypentest/') Typentest
              ul.sub-menu
                li.tablet-only
                  a(href='/alltagstypentest/') Alltagstypentest
                // <li><a href="#">Welche Schnitte bist du?</a></li>
