article.fridge.fridge--closed
  .fridge-container
    .fridge-wrapper
      .fridge-closed-wrapper
        .fridge-closed
          img.fridge__ms-logo(src="images/fridge-ms-logo.png", alt="")
          .fridge__countdown
            img.fridge__countdown__table(src="images/countdown.png", alt="")
          .fridge__pull
            a(href="/T010.html")
              img.fridge__pull__button(src="images/drag-button.png", alt="")

      .headline-wrapper
        img.headline-logo(src="images/headline-logo.png", alt="")
        .headline-slogan
          p.headline-slogan--part Mach mit beim Milch-Schnitte®
          p.headline-slogan--part Sommergewinnspiel und
          p.headline-slogan--part gewinne tolle Preise, die deinen Sommer
          p.headline-slogan--part unvergesslich machen!

        img.headline-product(src="images/product.png", alt="")
include tabs.jade
