article.fridge
  .container--fridge
    div.fridge-wrapper
      img(src="images/fridge-closed.png", alt="fridge")
      div.fridge-content
        img.fridge__ms-logo(src="images/fridge-ms-logo.png", alt="")
        div.fridge__countdown
          img(src="images/countdown.png", alt="")
        img.fridge__open-button(src="images/drag-button.png", alt="")

    div.headline
      img.headline-logo(src="images/headline-logo.png", alt="")
      p.headline-slogan Mach mit beim Milch-Schnitte® Sommergewinnspiel und gewinne tolle Preise, die deinen Sommer unvergesslich machen!

      img.headline-product
article.tabs
  .container
    .row
      .span12
        .container.container--content
