article.fridge
  .container--fridge
    div.fridge-wrapper
      img(src="images/fridge-closed.png", alt="fridge")
      div.fridge-content
        img.fridge__ms-logo(src="images/fridge-ms-logo.png", alt="")
        div.fridge__countdown
          img(src="images/countdown.png", alt="")
        img.fridge__open-button(src="images/drag-button.png", alt="")

article.tabs
  .container
    .row
      .span12
        .container.container--content
