.summer-action
  article.fridge.fridge--opened
    .container--fridge
      div.fridge-wrapper
        img(src="images/fridge-opened.png", alt="fridge")
        div.fridge-content
          img.fridge__ms-logo(src="images/fridge-ms-logo-opened.png", alt="milch schnitte logo")
          img.fridge__daily-price-logo(src="images/daily-prize-logo.png", alt="daily price logo")
          img.fridge__award-phone(src="images/award-headphone.png", alt="award phone")
          img.fridge__award-group(src="images/award-group.png", alt="award group")
          .fridge__question-btn
            a.btn(href="/T011.html") Frage beantworten

      div.headline-wrapper
        img.headline-logo(src="images/headline-logo.png", alt="")

  article.summer-tabs
    .summer-tabs-wrapper
      .summer-tabs-container
        ul.summer-tabs-menu
          li.active
            a(href='#gewinnspiel') Gewinnspiel
          li
            a(href='#preise') Preise
          li
            a(href='#meine-lose') Meine Lose
        .summer-tab
          #gewinnspiel.summer-tab-content
            .gewinnspiel
              h3.gewinnspiel__title Dies sind deine zwei Gewinnchanchen!
              p.gewinnspiel__desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
              .prizes
                .prize
                  img(src="images/current-prize.png", alt="")
                  h3.prize__title
                    span 1.
                    |  Tagespreis
                  p.prize__content Beantworte jeden Tag die Tagesfrage und sichere dir deine Chance auf den Tagespreis
                .prize
                  img(src="images/grand-prize.png", alt="")
                  h3.prize__title
                    span 2.
                    |  Hauptpreis
                  p.prize__content Mit jeder richtig beantworteten Frage sammelst du Lose für den Hauptpreis, der am Ende unseres Sommer-Countdowns verlosen wird.
              .join-now-btn
                a.btn(href="/T011.html") Jetzt mitmachen

          #preise.summer-tab-content
            p Donecs viverra.
          #meine-lose.summer-tab-content
            p Duis egestas
