.summer-action
  article.fridge.fridge--opened
    .container--fridge
      div.fridge-wrapper
        img(src="images/fridge-opened.png", alt="fridge")
        div.fridge-content
          img.fridge__ms-logo(src="images/fridge-ms-logo-opened.png", alt="milch schnitte logo")
          img.fridge__daily-price-logo(src="images/daily-prize-logo.png", alt="daily price logo")
          img.fridge__award-phone(src="images/award-headphone.png", alt="award phone")
          img.fridge__award-group(src="images/award-group.png", alt="award group")
          .fridge__question-btn
            a.btn(href="/T011.html") Frage beantworten

      div.headline-wrapper
        img.headline-logo(src="images/headline-logo.png", alt="")

  include tabs.jade
