.radio-wrapper
  .radio
    input(type="radio" name="gender" value="male" id="gender--male")
    label(for="gender--male") Male
    input(type="radio" name="gender" value="female" id="gender--female")
    label(for="gender--female") Female

.checkbox-wrapper
  .checkbox
    input#join-now__term-privacy(type="checkbox" name="termPrivacy" value="agreed")
    label(for="join-now__term-privacy") I agree
