article.summer-tabs
  .summer-tabs-wrapper
    .summer-tabs-container.container
      ul.summer-tabs-menu
        li.active
          a(href='#gewinnspiel') Gewinnspiel
        li
          a(href='#preise') Preise
        li
          a(href='#meine-lose') Meine Lose
      .summer-tab
        #gewinnspiel.summer-tab-content.gewinnspiel-wrapper
          .gewinnspiel
            h3.summer-tab-content__title Dies sind deine zwei Gewinnchanchen!
            p.summer-tab-content__desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            .prizes.row
              .prize.col-md-6.col-sm-6
                img(src="images/current-prize.png", alt="")
                h3.prize__title
                  span 1.
                  |  Tagespreis
                p.prize__content Beantworte jeden Tag die Tagesfrage und sichere dir deine Chance auf den Tagespreis
              .prize.col-md-6.col-sm-6
                img(src="images/grand-prize.png", alt="")
                h3.prize__title
                  span 2.
                  |  Hauptpreis
                p.prize__content Mit jeder richtig beantworteten Frage sammelst du Lose für den Hauptpreis, der am Ende unseres Sommer-Countdowns verlosen wird.
            .join-now-btn
              a.btn(href="/T011.html") Jetzt mitmachen

        #preise.summer-tab-content
          p Donecs viverra.
        #meine-lose.summer-tab-content
          .ms-account
            .ms-login(style="display:none;")
              h3.summer-tab-content__title Anmelden oder Registrieren
              p.summer-tab-content__desc Um an der Tages- und Hauptverlosung teilnehmen zu können musst du dich anmelden bzw. registrieren.
              form.ms-login__form
                .input__group
                  .input__value
                    input.form-control(type="text" placeholder="E-Mail-Adresse")
                  .input__value
                    input.form-control(type="text" placeholder="Passwort")
                a.ms-login__forgot-pw(href="") Passwort vergessen?
                .ms-login__btn
                  button.btn(type="submit") Einloggen & teilnehmen
              p.ms-login__reg-title Neu dabei? Hier geht´s zur Registrierung.
              a#ms-login__reg-btn.ms-login__reg-link(href="javascript:void(0)") Registrieren
            .ms-reg
              h3.summer-tab-content__title Registrieren
              p.summer-tab-content__desc Bitte gib deine persönlichen Daten lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              form.ms-reg__form
                .ms-reg__info
                  .row
                    .input__group.col-md-6
                      .input__value.col-odd
                        input.form-control(type="text" placeholder="Vorname")
                    .input__group.col-md-6
                      .input__value.col-even
                        input.form-control(type="text" placeholder="Nachname")
                  .row
                    .input__group.col-md-6
                      .input__value.col-odd
                        input.form-control(type="text" placeholder="Geburtsdatum")
                    .input__group.col-md-6
                      .input__value.col-even
                        input.form-control(type="text" placeholder="Email-Adresse")
                  .row
                    .input__group.col-md-6
                      .row.col-odd
                        .col-md-9
                          .input__value.col-odd
                            input.form-control(type="text" placeholder="Strasse")
                        .col-md-3
                          .input__value
                            input.form-control(type="text" placeholder="Nr.")
                    .input__group.col-md-6
                      .row.col-even
                        .col-md-3
                          .input__value.col-odd
                            input.form-control(type="text" placeholder="PLZ")
                        .col-md-9
                          .input__value
                            input.form-control(type="text" placeholder="Ort")

                p.ms-reg__agree Hiermit akzeptiere ich die Teilnahmebedingungen und Datenschutzbestimmungen der Ferrero Deutschland GmbH. Indem ich unten die Schaltfläche „Absenden“ anklicke, erkläre ich meine Teilnahme an der Aktion.

                .row
                  .col-md-6
                    .checkbox-wrapper.ms-reg__option-1.col-odd
                      .checkbox
                        input#ms-reg__option-1(type="checkbox" name="option-1" value="")
                        label(for="ms-reg__option-1") Ich möchte von der Ferrero Deutschland GmbH („Ferrero“) auf mich zugeschnittene Informationen und Angebote erhalten und gestatte Ferrero hierfür, meine Teilnahme an Aktionen und die Nutzung von Ferrero-Onlinediensten (Webseiten, Apps, Newsletter, etc.) zu erfassen und auszuwerten, auch unter Einbeziehung von Daten, die Ferrero von Dritten bekommt, z.B. von Marktforschungsinstituten. Details zu Ihrer Einwilligung finden Sie hier.

                  .col-md-6
                    .col-even
                      .checkbox-wrapper.ms-reg__option-2
                        .checkbox
                          input#ms-reg__option-2(type="checkbox" name="option-2" value="")
                          label(for="ms-reg__option-2") Ferrero darf mich zu diesem Zweck per elektronischer Post (insb. E-Mail) kontaktieren.
                      p.ms-reg__option-3 Ich kann meine Einwilligungen jederzeit widerrufen, z.B. unter www.ferrero.de/kontakt.

                      .ms-reg__btn
                        button.btn(type="submit") Registrieren & Teilnehmen
            .ms-lots
              img.ms-lots__logo(src="images/headline-logo-sm.png", alt="headline logo")
              h3.summer-tab-content__title Meine Lose
              .ms-lots__point
                img.ms-lots__point-image(src="images/x-point.png", alt="point image")
                .ms-lots__point-number 17
              p.ms-lots__point-total Du hast bereits 17 Lose!
              .ms-lots__more
                p.ms-lots__more-text Mit jedem Los steigt deine Chance auf unseren sommerlichen Hauptpreis!
                p.ms-lots__more-text Spiel jeden Tag mit und erhöhe deine Chance.
              .ms-lots__share
                a.btn(href="") Jetzt teilen
              .ms-lots__logout
                a.btn(href="") Logout
