article.summer-tabs
  .summer-tabs-wrapper
    .summer-tabs-container.container
      ul.summer-tabs-menu
        li.active
          a(href='#gewinnspiel') Gewinnspiel
        li
          a(href='#preise') Preise
        li
          a(href='#meine-lose') Meine Lose
      .summer-tab
        #gewinnspiel.summer-tab-content
          .gewinnspiel
            h3.summer-tab-content__title Dies sind deine zwei Gewinnchanchen!
            p.summer-tab-content__desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            .prizes.row
              .prize.col-md-6.col-sm-6
                img(src="images/current-prize.png", alt="")
                h3.prize__title
                  span 1.
                  |  Tagespreis
                p.prize__content Beantworte jeden Tag die Tagesfrage und sichere dir deine Chance auf den Tagespreis
              .prize.col-md-6.col-sm-6
                img(src="images/grand-prize.png", alt="")
                h3.prize__title
                  span 2.
                  |  Hauptpreis
                p.prize__content Mit jeder richtig beantworteten Frage sammelst du Lose für den Hauptpreis, der am Ende unseres Sommer-Countdowns verlosen wird.
            .join-now-btn
              a.btn(href="/T011.html") Jetzt mitmachen

        #preise.summer-tab-content
          p Donecs viverra.
        #meine-lose.summer-tab-content
          .ms-lots
            .ms-login
              h3.summer-tab-content__title Anmelden oder Registrieren
              p.summer-tab-content__desc Um an der Tages- und Hauptverlosung teilnehmen zu können musst du dich anmelden bzw. registrieren.
              form.ms-login__form
                .input__group
                  .input__value
                    input.form-control(type="text" placeholder="E-Mail-Adresse")
                  .input__value
                    input.form-control(type="text" placeholder="Passwort")
                a.ms-login__forgot-pw(href="") Passwort vergessen?
                .ms-login__btn
                  button.btn(type="submit") Einloggen & teilnehmen
              p.ms-login__reg-title Neu dabei? Hier geht´s zur Registrierung.
              a.ms-login__reg-link(href="") Registrieren

