article.summer-tabs
  .summer-tabs-wrapper
    .summer-tabs-container.container
      ul.summer-tabs-menu
        li.active
          a(href='#gewinnspiel') Gewinnspiel
        li
          a(href='#preise') Preise
        li
          a(href='#meine-lose') Meine Lose
      .summer-tab
        #gewinnspiel.summer-tab-content
          .gewinnspiel
            h3.gewinnspiel__title Dies sind deine zwei Gewinnchanchen!
            p.gewinnspiel__desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            .prizes.row
              .prize.col-md-6.col-sm-6
                img(src="images/current-prize.png", alt="")
                h3.prize__title
                  span 1.
                  |  Tagespreis
                p.prize__content Beantworte jeden Tag die Tagesfrage und sichere dir deine Chance auf den Tagespreis
              .prize.col-md-6.col-sm-6
                img(src="images/grand-prize.png", alt="")
                h3.prize__title
                  span 2.
                  |  Hauptpreis
                p.prize__content Mit jeder richtig beantworteten Frage sammelst du Lose für den Hauptpreis, der am Ende unseres Sommer-Countdowns verlosen wird.
            .join-now-btn
              a.btn(href="/T011.html") Jetzt mitmachen

        #preise.summer-tab-content
          p Donecs viverra.
        #meine-lose.summer-tab-content
          p Duis egestas
